body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main_menu {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    

}

li {
    float: left;
    border-right: white 1px solid;
}

li a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    background-color: red;
}

span{
    color: white;
   
   vertical-align: bottom;
    
}
.ala{
    margin-bottom: 0;
    padding-top: 10px;
}

.dp-content{
    display: none;
    background-color: rgba(15, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dp-content{
    display: block;
}
@media screen and (max-width:600px){
    ul li{
        float:none;
    }
}
