* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(75, 0, 0, 0.3)), to(rgba(0, 0, 75, 0.5))), url("img/pexels-oleg-magni-1040499.jpg");
  background: linear-gradient(to bottom right, rgba(75, 0, 0, 0.3), rgba(0, 0, 75, 0.5)), url("img/pexels-oleg-magni-1040499.jpg");
  background-position: center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Rubik",sans-serif;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#main header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
}

#main header .logo {
  margin: 1rem 0 0 0.5rem;
}

#main header ul {
  margin: 0;
  padding: 0;
}

#main header li {
  display: inline-block;
  padding: 1rem 1rem 0;
}

#main header li a {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
}

#main .section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10rem 0 0;
}

#main .section .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  width: 80%;
}

#main .section .section1 .sec1inner {
  border: 1px solid red;
  color: #fff;
  padding: 0 5rem;
  font-size: 2rem;
}

#main .section .section1 .sec1inner h1 {
  font-size: 4rem;
}

#main .section .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  width: 20%;
}

#main .section .section2 .sec2inner {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 0;
}

#main .section .section2 .sec2inner h1 {
  font-size: 3rem;
}
/*# sourceMappingURL=style.css.map */